@model PropertyRentalManagement.Models.Appointment


@{
	ViewBag.Title = "MakeAppointment";
}

<h2>MakeAppointment</h2>

<div id="schedule-demo"></div>
@*<script>
	$("#schedule-demo").jqs();

</script>*@

<input type="button" value="Export" id="export" />
<textarea id="result"></textarea>

<script>
	// import
	$("#schedule-demo").jqs('import', [
		{
			day: 2,
			periods: [
				["10:30", "13:00"]
			]
		}
	]);
//$("#export").click(function () {
//  $("#result").val($("#schedule-demo").jqs('export'));
//})



</script>
